*_archive.zip
*_compiled.zip
*.ASV
*.bin
*.lpz
*.sig
*.sm2
*.smft
*.ush
*.vtz
*.hash
*.ced
*.sgd
*.sgd_
*.sgd2
*.bak
SPlsWork/
*.suo
*.user
*.sln.docstates
*.log
*.cache
*.pdb
*.dat
*.der
*.ser
*csproj